:root {
    /* colors */
    --navbar-gray: rgb(237,237,237);
    --header-green: rgb(90, 157, 159);
    --star-red: rgb(255, 101, 45);
    --dash-orange: rgb(255, 109, 56);
    --message-blue:rgb(0, 148, 206);
    --font-blue:rgb(149, 169, 195);
    --placeholder-gray: rgb(167,166,171);
    --groupGrayLight : rgb(249,249,249);
    --groupGrayDark : rgb(237,237,237);
    --clickableColor: rgb(170, 186, 194);

    /* Dimensions */
    --main-view-height: 85%;
    --main-header-height: 10%;

    /* Font */
    font-family: 'Asap', sans-serif;
}

/* =========================================== */
/* ================= General ================= */
/* =========================================== */

body {
    height:560px;
    width: 700px;
    overflow: hidden;
    /*margin-left: 250px;*/
}


#container {
    border: 2px solid var(--navbar-gray);
    height:100%;
    width:100%;
}

/* ==== Hover machanic for all buttons === */
/* ======================================= */

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: var(--clickableColor);
}



/* == Main Window Header General Styles == */
/* ======================================= */

.header {
    height: 12%;
    background-color: var(--header-green);
    color: white;
}

.header>:first-child {
    font-size:10px;
    padding: 8px 0px 0px 7px;
}

.header>:nth-child(2) {
    font-size:14px;
    padding: 8px 0px 0px 7px;
    height:16px;
}


/* == Main Window Content General Styles == */
/* ======================================== */

.content {
    height: 88%;
    background-color: white;
}


/* =========================================== */
/* ================= Navbar ================== */
/* =========================================== */
#navbar {
    height: 70px;
    background-color: var(--navbar-gray);
    border: 1px solid var(--navbar-gray);
}

#navbar-titre {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    display: flex;
}

#navbar-poly {
    color: #f36e27;
}

#navbar-chat {
    color: #2884bd;
}

#navbar-users {
    padding-top: 13px;
    font-size: 15px;
}

#navbar-username {
    font-size: 8px;
    text-align: center;
    color: 	#34a853;
}

#navbar-one-user {
    margin-left: 388px;
    padding-right: 8px;
    font-size: 15px;
    padding-top: 13px;
    width: 40px;
}

#navbar-user-symbol {
    padding-left: 14px;
}

#navbar-others {
    margin-left: 18px;
    font-size: 15px;
    padding-top: 13px;
}

#navbar-refresh {
    display: flex;
    cursor: pointer;
}

#notification {
    position: absolute;
    overflow: visible;
    margin-left: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    background: red;
    color: white;
    height: 15px;
    width: 11px;
    display: hidden;
}


/* =========================================== */
/* ============ Message Interface ============ */
/* =========================================== */

#message-interface {
    float:left;
    width:488px; /* (490 - 2 for border) */
    height:var(--main-view-height);
    /* border: 1px solid var(--navbar-gray); */
}

/* Legacy, switch to new format */
#message-interface .header {
    border-top: 1px solid var(--navbar-gray);
    border-right: 1px solid white;
}

#message-interface .content {
    border-right: 1px solid var(--navbar-gray);
}

/* ========= Chat Room Section ============ */
/* =========================================== */

#chat-room {
    font-size:10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
    height: 300px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#incoming-msg {
    float: left;
    width:100%;
    padding-top: 10px;
}

#outbound-msg {
    float:right;
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}

#incoming-time {
    float:left;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

#outbound-time {
    float:right;
    display: block;
}

#msg-box-other {
    background-color:  #e5e6ea;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    word-wrap: break-word;
}

#msg-box-self {
    float: right;
    text-align: right;
    background-color:  #2884bd;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    word-wrap: break-word;
}

#msg-box-self:after {
    clear: both;
    content: "";
    display: block;
}

#chatbox-user-name {
    color: #aaaaaa;
    margin-bottom: 5px;
}


/* ============ Message Write Box ============ */
/* =========================================== */

#message-write {
    position:absolute;
    top: 500px;
    height: 50px;
    width: 487px;
    border-top: 1px solid var(--navbar-gray);
    border-bottom : 1px solid var(--navbar-gray);
    background: var(--header-green);

}

#message-write div {
    float:left;
    height:50px;
}

#message-write :nth-child(1) {
    padding: 3px 8px 0px 6px;
}

#message-write :nth-child(1) img {
    height:40px;
}

#message-write :nth-child(2) {
    /* position: absolute;
    left: 65px; */
    width: 320px;
}

#message-write :nth-child(2) textarea {
    height: 47px; /* 50 - 4 (for the padding) */
    border-radius: 10px;
    border: 0px solid white;
    width: inherit;
    /* color: var(--placeholder-grey) */
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    box-shadow: 0 0 1pt 1pt blue;
}

#send {
    cursor: pointer;
}

/* Hard "outline" with box-shadow: */


#message-write :nth-child(3) {
    padding: 16px 0px 0px 25px;
}

/* =========================================== */
/* ============ Group Interface ============== */
/* =========================================== */

/** The following section affects styles in the group
 * interface, which is the right most part  of the 
 * page which contains a list of the names of all
 * the chat rooms */


#group-interface {
    float:left;
    width:212px; /*(210 - 2 for border)*/
    height:var(--main-view-height);
    border-top: 1px solid var(--navbar-gray);
    /* border-left: 0px solid white; */
}

/* ========= Group Header Styles ================ */
/* ============================================== */




/* Most header styles are defined in the general section */



/* ========= Group Content Styles ================ */
/* ============================================== */

#group-interface .content {
    padding: 14px 5px 0px 5px;
}

#group-interface .content > div:nth-of-type(2n+1) {
    background-color: var(--groupGrayLight);
}

#group-interface .content > div:nth-of-type(2n) {
    background-color: var(--groupGrayDark);
}

.group-selector {
    width: 200px;
    height: 30px;
}

/* Styles for the icons inside */
.group-selector > * {
    float:left;
    padding-top:4px;
    padding-left:16px;
}

/* ======= Styles for the new group input ======== */
/* =============================================== */
#new-group-form i {
    color:rgb(24, 219, 24);
}

#new-group-form button {
    background: none;
    border: none;
}

#new-group-form input {
    padding:none;
    width: 150px;
    height: 25px;
    /* padding-top:5px; */
    border: none;
    background-color: rgb(214, 205, 164)
}



